/* You can add global styles to this file, and also import other style files */
.body-content {
  margin-top: 1em;
}

/* Slide transition */
mw-root div.panel.panel-primary {
  animation-duration: .5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  transition: transform .5s ease;
}

@keyframes slideIn {
from {
  transform: translate(-200px);
}

to {
  transform: translate(0px);
}
}

validation-messages div {
  color: #E82C0C;
  margin: 3px 0;
}