/* You can add global styles to this file, and also import other style files */
.body-content {
  margin-top: 1em;
}

::ng-deep .cdk-overlay-pane {
  position: absolute;
  margin-top: 5px;
  background-color: #fff;
}
.container
{
margin-left:-5px;margin-right:-5px;
}