<nav class="navbar nav-justified navbar-fixed-top 
            navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/dashboard" class="navbar-brand">
        Home
      </a>
    </div>
    <ul class="nav navbar-nav dropdown">     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tool Inventory
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation">
            <a class="dropdown-item" routerLink="searchtoolinventory">Search Tool Inventory</a>
            <a class="dropdown-item" routerLink="searchspec">Search Specification</a>
            <a class="dropdown-item" routerLink="searchmaterial">Search Material</a>
          </li>
        </ul>              
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tool Setup Sheet<b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation">
            <a class="dropdown-item" routerLink="toolsetupsheet">New</a>
            <a class="dropdown-item" routerLink="opentoolsetupsheet">Open</a>
            <a class="dropdown-item" routerLink="cuttingmethodtemplateeditor">Cutting Method Template Editor</a>
          </li>
        </ul>   
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation">
            <a class="dropdown-item" routerLink="managevendors">Vendors</a>
            <a class="dropdown-item" routerLink="managecustomers">Customers</a>
            <a class="dropdown-item" routerLink="managemachines">Machines</a>
          </li>
        </ul>   
      </li>
    </ul>
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
</div>
