<table class="table table-borderless">
  <tbody>
      <tr>
          <td class="col-md-1">P/N:
              <input id="txtPN" class="form-control input-sm" />
          </td>
          <td class="col-md-1">REV#:
              <input id="txtRev" class="form-control input-sm" />
          </td>
          <td class="col-md-1">OP#:
              <input id="txtOP" class="form-control input-sm" />
          </td>              
       </tr>
  </tbody>
</table>
<div style="margin-left: 5px">
<input type="button" id="btnSearch" value="Search" class="btn btn-primary" />
</div>
<div id="divMessage" style="margin: 5px; display:none">
</div>
<table class="table table-borderless" style="display:none" id="tblToolSetup">
  <tbody>
      <tr>
          <th></th>
          <!--th>Part Name</th-->
          <th>Part Number</th>
          <th>Revision</th>
          <th>Operation</th>
      </tr>            
  </tbody>
</table>