<div class="panel panel-primary">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" *ngIf="permissions && permissions.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of permissions">
            <td>
              <a href='javascript:void(0)' (click)="openEditPermission(permission.id)">{{ permission.name }}</a>
            </td>
            <td>
              {{ permission.displayName }}
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="permission.active" checked="{{permission.Active ? 'Checked':''}}" (change)="updatePermissionStatus(permission)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="recordCount <= pageSize">
      <pagination [totalItems]="recordCount" [(ngModel)]="currentPage" (pageChanged)="getPage($event.page)" [itemsPerPage]="pageSize"></pagination>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary btn-md btn-block" type="button" (click)="openEditPermission(0)" >Add Permission</button>
      </div>
    </div>
  </div>